# default settings for sessions
[DEFAULT]
ConnectionType=initiator
SenderCompID=CLIENT_01
FileStorePath=data/client
FileLogPath=data/log
UseDataDictionary=Y
#ResetOnLogon=Y
ScreenLogShowIncoming=Y
ValidateUnorderedGroupFields=N

#MarketData Stream
[SESSION]
BeginString=FIX.4.4
TargetCompID=MARKET_DATA
DataDictionary=DICT_FIX44.xml
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
SocketConnectPort=9881
SocketConnectHost=127.0.0.1

#Instrument Definition
#Application level
[SESSION]
BeginString=FIX.4.4
#DefaultApplVerID=9
ValidateSequenceNumbers=N
TargetCompID=INSTRUMENT
DataDictionary=DICT_FIX44.xml
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
SocketConnectPort=9882
SocketConnectHost=127.0.0.1

#News Stream
[SESSION]
BeginString=FIX.4.4
TargetCompID=NEWS
DataDictionary=DICT_FIX44.xml
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
SocketConnectPort=9883
SocketConnectHost=127.0.0.1

#Snapshot Stream
[SESSION]
BeginString=FIX.4.4
TargetCompID=SNAPSHOT
DataDictionary=DICT_FIX44.xml
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
SocketConnectPort=9884
SocketConnectHost=127.0.0.1

#Recovery Stream


